.btn-green {
  background-color: #008C3F;
  color: #FFFFFF;
  font-weight: 500;
}

.btn-green:hover {
  background-color: transparent;
  color: #008C3F;
  border-color: #008C3F;
}

.btn-green svg {
  transition: transform 0.2s ease-in-out;
}

.btn-green:hover svg {
  transform: translateX(3px);
}